.iconocerrar{
  --color: #000000;
  --background: #706b6b7e;
}
.conte-img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-mas{
  width: 80%;
  max-width: 500px;
  border-radius: 14px;
}
