.cabecera{
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(135deg, #949090c0, #413f3ff8);

}
.acordion{
    padding: 15px;
}

.ion-padding{
    background: #a5a3a355;
}