.cabecera{
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(135deg, #949090c0, #45453ff7);

}
.acordion{
    padding: 15px;
    max-width: 800px;
    margin: auto;
}

.ion-padding{
    background: #a5a3a355;
}
@media screen and (max-width: 600px) {
    .acordion {
        max-width: 90%;
        margin: auto;
    }
}