ion-icon {
  font-size: 50px;
  color: rgb(10, 10, 10); //color de los iconos
}
.footer{
  background-color: rgba(128, 120, 120, 0.349); //color de la banda de fondo
  padding: 10px 0;
  border-top: 1px solid #0000002f;
}
.redes{
  text-align: center; //centrar los iconos
}
.menu{
  margin-top: 10px; // para que no se unan los iconos
}
.menu a{
  margin: 0 80px; //espacio entre las palabras del .menu
  font-size: 15px;
  color:rgb(0, 0, 0);
}
.menu a:hover{
  text-decoration: underline;
  color: rgb(121, 126, 126);
}
