

.imagenes {
  width: 100%;
  max-width: 150px;
  margin: 0 auto 10px auto;
  display: block;
  border-radius: 10px;
  object-fit: cover;
}


.carg {
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  align-items: center;// Alinea los elementos verticalmente al centro
  gap: 30px;// Espacio entre las filas y columnas
  padding: 15px;// Espacio entre los elementos
}
@media(min-width: 1024px){
  .carg {
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));// Ajusta el número de columnas según el tamaño de la pantalla
    max-width: 1200px;// Ancho máximo del contenedor
    margin: 0 auto;// Centra el contenedor horizontalmente
  }
}


.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 2px;
  margin-bottom: 12px;
}
.card2 {
  width: 100%;
  max-width: 250px; /* tamaño fijo para uniformidad */
  height: 340px;
  margin: 20px auto;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #e5e3e32d;
  font-family: 'Poppins', sans-serif; /* tipografía moderna */
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  overflow: hidden;

  &:hover {
    transform: translateY(-8px); /* ligero salto hacia arriba */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* sombra más intensa al hacer hover */
  }

}

.titulo {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin-bottom: 8px;
  line-height: 1.2;
  padding: 0 10px;

  display: -webkit-box;
  -webkit-line-clamp: 3; /* máximo 2 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.precio {
  font-size: 18px;
  font-weight: bold;
  color: #000000; /* rojo elegante */
  margin-top: auto;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.search{//estilo del cuadro de busqueda
  margin: 10px;
  background-origin: padding-box;
  --background: #554f4f51;
  border-radius: 50%;
  width: 500px;
  text-align: left;
}

.Categorias {
  border-bottom: 0 2px 6px rgba(223, 16, 16, 0.992);//
  padding: 8px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.505);;
  margin-left: auto;
  border-bottom: 1px solid #23232360;
}

.menu-horizontal{
  list-style: none;
  display: flex; //que se adapte
  justify-content: center;
  margin: 0;
  gap: 20px;//SEPARACION DE LOS ITEMS
  padding: 10;
}
@media screen and (max-width: 600px) {
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .texto {
    font-size: 14px;
  }

  .flecha {
    font-size: 12px;
    margin-top: 2px;
  }
}

.item {
  position: relative;
  cursor: pointer;
  color: #000000;
  align-items: center;
  padding: 8px 12px;
  font-weight: bold;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
} 
ion-icon {
  font-size: 20px;
  vertical-align: middle;
  margin-left: 5px;
}
.submenu {
  list-style: none;
  display: block;////////FLEX
  top: 32px;
  left: 0;
  position: absolute;//
  background: #ffffff;//fondo del submenu desplegable
  padding: 10px 0;
  margin: 0;
  min-width: 180px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(237, 177, 74, 0.641);//sombra del submenu
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.25s ease;
  z-index: 1000;
}
.item:hover {
  background-color: #4a48483b;////sombra de los items del menu
}
.item:hover .submenu {
  max-height: 300px;
  opacity: 1;
  visibility: visible;
}
.submenu li {
  padding: 8px 16px;
  cursor: pointer;
  color:#00000073;//color del texto del submenu
}

.submenu li:hover {
  background-color: #878587c0;
  color:#000000
}

//carrucel
.mySwiper {
  width: 100%;
  height: 220px;
}

.img-carousel {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

