

.imagenes {
  width: 100%;
  max-width: 150px;
  margin: 0 auto 10px auto;
  display: block;
  border-radius: 10px;
  object-fit: cover;

}


.carg {
  display: grid;
  grid-template-columns: repeat(5 ,2fr);
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.img{
  width: 100%;
  border-radius: 16px;
  margin-bottom: 15px;

}

.card2{
  width: 200px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(175, 175, 174);
}
.titulo {
  text-align: center;   // Centra el texto horizontalmente
  display: block;       // Asegura que ocupe todo el ancho
}

.precio {
  text-align: center;   // Centra el texto horizontalmente
  font-weight: bold;    // Negritas
  color: red;           // Rojo
  display: block;       // Asegura que ocupe todo el ancho
}
