

.imagenes {
  width: 100%;
  max-width: 150px;
  margin: 0 auto 10px auto;
  display: block;
  border-radius: 10px;
  object-fit: cover;
}


.carg {
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  align-items: center;// Alinea los elementos verticalmente al centro
  gap: 30px;// Espacio entre las filas y columnas
  padding: 15px;// Espacio entre los elementos
}
@media(min-width: 1024px){
  .carg {
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));// Ajusta el número de columnas según el tamaño de la pantalla
    max-width: 1200px;// Ancho máximo del contenedor
    margin: 0 auto;// Centra el contenedor horizontalmente
  }
}

.img{
  width: 100%;
  border-radius: 16px;
  margin-bottom: 15px;

}

.card2{
  width: 100%;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(175, 175, 174);
}
.titulo {
  text-align: center;   // Centra el texto horizontalmente
  display: block;       // Asegura que ocupe todo el ancho
}

.precio {
  text-align: center;   // Centra el texto horizontalmente
  font-weight: bold;    // Negritas
  color: red;           // Rojo
  display: block;       // Asegura que ocupe todo el ancho
}
.search{//estilo del cuadro de busqueda
  margin: 10px;
  background-origin: padding-box;
  --background: #554f4f51;
  border-radius: 50%;
  width: 500px;
  text-align: left;
}

.categorias {
  border-bottom: 1px solid #8b13d0;
  padding: 8px 0;
  margin-left: auto;
}

.menu-horizontal{
  list-style: none;
  display: flex; //que se adapte
  justify-content: center;
  margin: 0;
  gap: 25px;
  padding: 0;
}
.item {
  position: relative;
  cursor: pointer;
  font-weight: bold;
  color: #000000;
  align-items: center;
  padding: 8px 12px;
  transition: color 0.3s;
}
.submenu {
  list-style: none;
  display: flex;
  top: 32px;
  left: 0;
  position: absolute;//
  background: rgba(155, 158, 155, 0.582);
  padding: 10px 0;
  margin: 0;
  min-width: 180px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgb(24, 22, 22);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.25s ease;
  z-index: 1000;
}
.item:hover .submenu {
  max-height: 300px;
  opacity: 1;
  display: block;
}
.submenu li {
  padding: 8px 16px;
  cursor: pointer;
  color:#000000;
}

.submenu li:hover {
  background-color: #878587;
}
