<app-header-global
(textoFiltrado)="onTextoFiltrado($event)">
</app-header-global>



<ion-content [fullscreen]="true" >

  <nav class="Categorias"> <!--BARRA HORIZONTAL-->
    <ul class="menu-horizontal">
      <li class="item" (click)="mostrarTodos()">
        Todos
      </li>
      <li class="item" *ngFor="let cat of categorias"> <!--MENU DINAMICO-->
        
        {{cat.Categoria}}
        <ion-icon name="caret-down-outline"></ion-icon>
        <ul class="submenu">
          <li *ngFor="let sub of cat.subcategoria"
          (click)="filtrarPorCategoria(sub)"> <!--SUBMENU-->
          {{sub}}
          </li>
        </ul>
      </li>
    </ul>
  </nav>
<swiper-container
  slides-per-view="1"
  loop="true"
  autoplay-delay="3000"
  pagination="true"
  class="swiper-banner"
>
  <swiper-slide *ngFor="let img of imagenesCarrusel">
    <img [src]="img" class="img-carousel" />
  </swiper-slide>
</swiper-container>

  <div class="carg">
    <ion-card class="card2" *ngFor="let p of productosfiltrados"> <!--GRID DE LOS PRODUCTOS-->
      <img [src]="p.imagen" class="img" (click)="verimagengrande(p)"/>
      <ion-card-header>
        <ion-card-title color="primary" class="titulo" (click)="irvermas(p)">{{p.titulo}}</ion-card-title>
        <ion-card-subtitle color="danger" class="precio"> Precio: ${{p.precio}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
<app-footer-global>

</app-footer-global>

