.Logo{
  width: 100px;//ANCHO DE LA IMAGEN
  height: 100px;
  border-radius: 8px;
}

ion-header,
ion-toolbar {
  background-color: #ffffff; /* 🔹 Fondo blanco sólido */
  --background: #ffffff;     /* 🔹 Ionic variable para fondo */
  box-shadow: none;          /* 🔹 Elimina sombra inferior */
  border-bottom: none;       /* 🔹 Elimina línea si existe */
}
