.Logo {
  width: 100px; /* ancho de la imagen */
  height: 100px;
  border-radius: 8px;
}

ion-header,
ion-toolbar {
  background-color: #ffffff;
  --background: #ffffff;
  box-shadow: none;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

