.Logo {
  width: 100px;
  height: 100px;
  border-radius: 8px;

}

ion-header,
ion-toolbar {
  --background: #928e8e30;
  box-shadow: none;
  border-bottom: none;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  position: relative;
  width: 100%;
  gap: 2rem;
}

.Logo-titulo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;//

  ion-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #222;
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

.search-wrapper {
  position: relative;
  left: 1%;
  flex: 1;
  max-width: 700px;
  padding: 0 2rem;
  display: flex;
}

.search-header {
  width: 60%;
  --background: #00000000;
  --color: #000000;
  --placeholder-color: #6f6c6cc1;
  --icon-color: #000000;
  border-radius: 50px;
  border: 2px solid black;
  max-width: 500px;
  box-shadow: none;
  font-size: 1rem;
  font-weight: 500;
}
