<app-header-global></app-header-global>

<ion-content class="ficha-producto">
  <section class="producto-card">
    <div class="imagen-container">
      <img [src]="producto.imagen" alt="{{producto.nombre}}" />
    </div>

    <div class="info-container">
      <h1 class="titulo">{{producto.nombre}}</h1>
      <p class="descripcion">{{producto.descripcion}}</p>
      <div class="precio">Precio: ${{producto.precio}}</div>

      <ion-button expand="block" color="dark" class="boton-agregar">
        AGREGAR AL CARRITO
      </ion-button>
    </div>
  </section>
</ion-content>
<app-footer-global></app-footer-global>