ion-content {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente */
}

ion-card {
  max-width: 400px; /* opcional, para que no se estire demasiado */
}
