<app-header-global></app-header-global>

<ion-content>
  <div class="cards-row">
    <ion-card>
      <img alt="Imagen1" src="assets/img/imagen1.png" />
      <ion-card-header>
        <ion-card-title>BREVE HISTORIA</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Heredero nació de una idea sencilla, pero poderosa.
        Todo comenzó cuando Carlos Ramírez, apasionado por el estilo auténtico y las prendas con carácter, decidió crear camisas únicas solo para él.
        No buscaba una marca, ni un negocio; solo quería vestir algo diferente, algo que lo representara de verdad.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="Imagen3" src="assets/img/imagen3.png" />
      <ion-card-header>
        <ion-card-title>FRASE</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Heredero es más que moda.
        Es estilo.
        Es personalidad.
        Es el legado que Carlos decidió comenzar el día que creó su primera camisa.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
